<!DOCTYPE html>
<!--
This is the recommendation page for Board Games for Families, Node.js version
Author: Nikkala Thomson
-->

<html lang="en-us">

<head>
    <title>Recommendation | The Board Game Whisperer</title>
    <link rel="stylesheet" type="text/css" href="styles/normalize.css" />
    <link rel="stylesheet" type="text/css" media="screen" href="styles/main_style.css" />
    <meta charset="UTF-8">
    <meta name="author" content="Nikkala Thomson">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
    <meta name="pinterest" content="nopin">
</head>

<body>
    <header>
        <div id="header-band"></div>
        <div id="header-text" class="center-block">
            <h1>Your Game Recommendation</h1>
        </div>
    </header>
    <div class=center-block>
        <nav>
            <ul>
                <li id="active-nav"><a href=".">Home<img src="images/yellow-arrow.png" alt=""></a></li>
                <li><a href="">Login</a></li>
                <li><a href="">Register</a></li>
                <li><a href="">Profile</a></li>
                <li><a href="">Get Games</a></li>
            </ul>
        </nav>
        <main>
            <figure class=center-block>
                <!--Main image -->
                <img src="images/familygame.jpg" alt="Family playing games">
            </figure>
            <div class="flex">
                <section class="wide-section">
                    <p>The Board Game Whisperer thinks you would enjoy playing the game <%= param.name %>. </p><br>
                    <img src="<%= param.image_url %>" alt="<%= param.name %>">';
                    <form action="" method="post">
                        <button type="submit" name="submit" class="submit_btn">Get Another Game Recommendation</button>
                    </form>
                </section>
            </div>

        </main>
        <footer>
            <div class="center-block">
                <hr>
            </div>
            <div class="center-block">
                <ul>
                    <li>Copyright &copy; 2019</li>
                </ul>
            </div>
        </footer>
    </div>
</body>

</html>
