<!DOCTYPE html>
<!--
This is the recommendation page for Board Games for Families, Node.js version
Author: Nikkala Thomson
-->

<html lang="en-us">

<head>
    <title>Recommendation | The Board Game Whisperer</title>
    <link rel="stylesheet" type="text/css" href="styles/normalize.css" />
    <link rel="stylesheet" type="text/css" media="screen" href="styles/main_style.css" />
    <meta charset="UTF-8">
    <meta name="author" content="Nikkala Thomson">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
    <meta name="pinterest" content="nopin">
</head>

<body>
    <header>
        <div id="header-band"></div>
        <div id="header-text" class="center-block">
            <h1>Your Game Recommendation</h1>
        </div>
    </header>
    <div class=center-block>
        <nav>
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/login">Login</a></li>
                <li><a href="/register">Register</a></li>

                <li id="active-nav"><a href="/games">Games</a><img src="images/yellow-arrow.png" alt=""></li>
            </ul>
        </nav>
        <main>
            <div class="flex">
                <section class="wide-section">
                    <br>
                    <p>The Board Game Whisperer thinks you would enjoy playing the game </p>
                    <h2><%= name %>.</h2> <br>
                    <img src="<%= image_url %>" alt="<%= name %>"><br><br>
                    <form action="/games" method="get">
                        <button type="submit" name="submit" class="submit_btn">Get Another Game Recommendation</button>
                    </form>
                </section>
            </div>
        </main>
        <footer>
            <div class="center-block">
                <hr>
            </div>
            <div class="center-block">
                <ul>
                    <li>Copyright &copy; 2019</li>
                </ul>
            </div>
        </footer>
    </div>
</body>

</html>
