<!DOCTYPE html>
<!--
This is the edit user profile page for the Board Game Whisperer
Author: Nikkala Thomson
-->

<html lang="en-us">

<head>
    <title>The Board Game Whisperer | Edit Profile</title>
    <link rel="stylesheet" type="text/css" href="styles/normalize.css" />
    <link rel="stylesheet" type="text/css" media="screen" href="styles/main_style.css" />
    <meta charset="UTF-8">
    <meta name="author" content="Nikkala Thomson">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
    <meta name="pinterest" content="nopin">
</head>

<body>
    <header>
        <div id="header-band"></div>
        <div id="header-text" class="center-block">
            <h1>Edit User Profile</h1>
        </div>
    </header>
    <div class=center-block>
        <nav>
            <ul>
                <li><a href="/index">Home</a></li>
                <li><a href="/login">Login</a></li>
                <li><a href="/register">Register</a></li>
                <li id="active-nav"><a href="/profile">Profile<img src="../images/yellow-arrow.png" alt=""></a></li>
                <li><a href="/games">Get Games</a></li>
            </ul>
        </nav>
        <main>
            <section class="wide-section">

                // Redirect to login page if logged in as Guest

                <br>
                <p>Here you may edit your user profile. Username cannot be changed.</p>
                <br>

                <form id="myForm" action="/profile" method="post">
                    <label for="display_name" class="label_long"><b>Display Name</b></label>
                    <input type="text" name="p_display_name" value="" required /><br>
                    <label for="email" class="label_long"><b>Email</b></label>
                    <input type="email" name="p_email" value="" required /><br>
                    <label for="old_password" class="label_long"><b>Old Password</b></label>
                    <input type="password" placeholder="Enter Old Password" name="p_old_password" required /><br>
                    <label for="new_password" class="label_long"><b>Old or New Password</b></label>
                    <input type="password" id="field_pwd1" placeholder="Re-enter Old Password or enter New Password (6+ chars, UPPER/lower + num)" title="Password must contain at least 6 characters, including UPPER/lowercase and numbers." name="p_new_password" pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{6,}" onchange="this.setCustomValidity(this.validity.patternMismatch ? this.title : '');" required /><br>
                    <button type="submit" class="submit_btn" onclick="check_password()">UPDATE</button>
                </form>


            </section>


        </main>
        <footer>
            <div class="center-block">
                <hr>
            </div>
            <div class="center-block">
                <ul>
                    <li>Copyright &copy; 2019 </li>
                </ul>
            </div>
        </footer>
    </div>
</body>

</html>
