<!DOCTYPE html>
<!--
This is the Games page for The Board Game Whisperer
Author: Nikkala Thomson
-->

<html lang="en-us">

<head>
    <link rel="stylesheet" type="text/css" href="styles/normalize.css" />
    <link rel="stylesheet" type="text/css" media="screen" href="styles/main_style.css" />
    <meta charset="UTF-8">
    <meta name="author" content="Nikkala Thomson">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
    <meta name="pinterest" content="nopin">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script type="text/javascript" src="../../models/register.js"></script>
    <title>The Board Game Whisperer | Game Preferences</title>
</head>

<body>
    <header>
        <div id="header-band"></div>
        <div id="header-text" class="center-block">
            <h1>Get a Game Recommendation</h1>
        </div>
    </header>
    <div class=center-block>
        <nav>
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/login">Login</a></li>
                <li><a href="/register">Register</a></li>
                <li><a href="/profile">Profile</a></li>
                <li id="active-nav"><a href="/games">Games<img src="../images/yellow-arrow.png" alt=""></a></li>
            </ul>
        </nav>
        <main>
            <section class="wide-section">
                <br>
                <br>


                <form action="action_page.php" method="post">

                    <button type="submit" name="submit" class="submit_btn">Get a Game Recommendation Based on the Preferences Below</button><br>
                    <input id="go" name="go" type="hidden" value="Preferences Submitted"><br>
                    <p>Minimum number of players:
                        <select name="min_players">
                            <option value="1">1</option>
                            <option value="2" selected>2</option>
                            <option value="3">3</option>
                            <option value="4">4</option>
                            <option value="5">5</option>
                            <option value="6">6</option>
                            <option value="7">7</option>
                            <option value="8">8</option>
                            <option value="9">9</option>
                            <option value="10">10</option>
                        </select></p>

                    <p>Maximum number of players: <select name="max_players">
                            <option value="1">1</option>
                            <option value="2">2</option>
                            <option value="3">3</option>
                            <option value="4" selected>4</option>
                            <option value="5">5</option>
                            <option value="6">6</option>
                            <option value="7">7</option>
                            <option value="8">8</option>
                            <option value="9">9</option>
                            <option value="10">10</option>
                        </select></p>

                    <p>Minimum playing time (in minutes): <select name="min_playtime">
                            <option value="1">1</option>
                            <option value="15" selected>15</option>
                            <option value="30">30</option>
                            <option value="45">45</option>
                            <option value="60">60</option>
                            <option value="90">90</option>
                            <option value="120">120</option>
                            <option value="150">150</option>
                            <option value="180">180</option>
                            <option value="210">210</option>
                            <option value="240">240</option>
                            <option value="300">300</option>
                        </select></p>

                    <p>Maximum playing time (in minutes): <select name="max_playtime">
                            <option value="15">15</option>
                            <option value="30">30</option>
                            <option value="45">45</option>
                            <option value="60" selected>60</option>
                            <option value="90">90</option>
                            <option value="120">120</option>
                            <option value="150">150</option>
                            <option value="180">180</option>
                            <option value="210">210</option>
                            <option value="240">240</option>
                            <option value="300">300</option>
                            <option value="360">360</option>
                        </select></p>

                    <p>Minimum game weight (complexity) on a 1.0 to 5.0 scale: <select name="min_weight">
                            <option value="1.0" selected>1.0</option>
                            <option value="1.5">1.5</option>
                            <option value="2.0">2.0</option>
                            <option value="2.5">2.5</option>
                            <option value="3.0">3.0</option>
                            <option value="3.5">3.5</option>
                            <option value="4.0">4.0</option>
                            <option value="4.5">4.5</option>
                        </select></p>

                    <p>Maximum game weight (complexity) on a 1.0 to 5.0 scale: <select name="max_weight">
                            <option value="1.5">1.5</option>
                            <option value="2.0">2.0</option>
                            <option value="2.5">2.5</option>
                            <option value="3.0" selected>3.0</option>
                            <option value="3.5">3.5</option>
                            <option value="4.0">4.0</option>
                            <option value="4.5">4.5</option>
                            <option value="5.0">5.0</option>
                        </select>


                        <!--              <p> Preferred themes:</p>
                        <input type="checkbox" name="themes[]" value="" checked="checked">
                        <br>
                        <p> Preferred gameplay mechanisms:</p>
                        <input type="checkbox" name="mechanisms[]" value="" checked="checked"> -->

                        <br>
                </form>

            </section>
        </main>
        <footer>
            <div class="center-block">
                <hr>
            </div>
            <div class="center-block">
                <ul>
                    <li>Copyright &copy; 2019 </li>
                </ul>
            </div>

        </footer>
    </div>
</body>

</html>
