<!DOCTYPE html>
<!--
This is the registration page for the Board Game Whisperer
Author: Nikkala Thomson
-->

<html lang="en-us">

<head>
    <link rel="stylesheet" type="text/css" href="styles/normalize.css" />
    <link rel="stylesheet" type="text/css" media="screen" href="styles/main_style.css" />
    <meta charset="UTF-8">
    <meta name="author" content="Nikkala Thomson">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
    <meta name="pinterest" content="nopin">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script type="text/javascript" src="../../models/register.js"></script>
    <title>The Board Game Whisperer | Register</title>
</head>

<body>
    <header>
        <div id="header-band"></div>
        <div id="header-text" class="center-block">
            <h1>New Account Registration</h1>
        </div>
    </header>
    <div class=center-block>
        <nav>
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/login">Login</a></li>
                <li id="active-nav"><a href="/register">Register<img src="../images/yellow-arrow.png" alt=""></a></li>
                <li><a href="/profile">Profile</a></li>
                <li><a href="/games">Get Games</a></li>
            </ul>
        </nav>
        <main>
            <section class="wide-section">
                <form id="myForm" action="register" method="post">
                    <br>
                    <label for="username" class="label_long"><b>Username</b></label>
                    <input id="field_username" type="text" title="Username must not be blank and contain only letters, numbers and underscores." placeholder="Enter Username" name="username" onBlur="checkAvailability()" required pattern="\w+" /><span id="user-availability-status"></span>

                    <br><br>
                    <label for="display_name" class="label_long"><b>Display Name</b></label>
                    <input type="text" placeholder="Enter Display Name" name="r_display_name" required /><br><br>
                    <label for="email" class="label_long"><b>Email</b></label>
                    <input type="email" placeholder="Enter Email" name="r_email" required /><br><br>
                    <label for="password" class="label_long"><b>Password</b></label>
                    <input type="password" id="field_pwd1" title="Password must contain at least 6 characters, including UPPER/lowercase and numbers." placeholder="Enter Password (6+ characters including UPPER/lowercase and number)" name="r_password" required pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{6,}" onchange="this.setCustomValidity(this.validity.patternMismatch ? this.title : '');
  if(this.checkValidity()) form.pwd2.pattern = RegExp.escape(this.value);" /><br><br>
                    <label for="password2" class="label_long"><b>Repeat Password</b></label>
                    <input type="password" id="field_pwd2" title="Please enter the same password as above" placeholder="Confirm Password" name="r_password2" required pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{6,}" name="pwd2" onchange="
  this.setCustomValidity(this.validity.patternMismatch ? this.title : '');" /><br>
                    <button type="submit" class="submit_btn" onclick="check_password()">REGISTER</button><br>
                    <p>Already have an account? <a href="">Log in</a>.</p><br>
                </form>
            </section>
        </main>

        <footer>
            <div class="center-block">
                <hr>
            </div>
            <div class="center-block">
                <ul>
                    <li>Copyright &copy; 2019 </li>
                </ul>
            </div>

        </footer>
    </div>
</body>

</html>
